*{
    box-sizing: border-box;
    font-family: "Fredericka the Great", sans-serif;
    cursor: url("./cursor/cursor.cur"), auto !important;
}

.div{
    color: white;
}

.bit-font{
    font-family: 'Press Start 2P', sans-serif !important;
}

.box{
max-width: 1000px;
}

body {
    color: white;
    overflow: hidden;
}

.w3-sidebar {
    width: 120px !important;
    background: #222222 !important;
}

.marginLeft {
    margin-left: 120px !important;
    height: auto !important;
}



@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0 !important;
    }
}
 

a:hover {
    cursor: url('./cursor/cursor3.cur'), auto !important;
}

a.new:hover {
    cursor: url('./cursor/cursor2.cur'), auto !important;
}

button:hover{
    cursor: url('./cursor/cursor3.cur'), auto !important;
}

button.new:hover{
    cursor: url('./cursor/cursor2.cur'), auto !important;
}

input:hover{
    cursor: url('./cursor/cursor2.cur'), auto !important;
}

input.new:hover{
    cursor: url('./cursor/cursor2.cur'), auto !important;
}

.w3-button{
    cursor: url('./cursor/cursor3.cur'), auto !important
  }

i{
    cursor: url('./cursor/cursor3.cur'), auto !important
}

.Label{
    width: 45vw !important;
    margin: auto !important;
}

.buttonCadastro{
  width: 100% !important;

}

.buttonLimpar{
  width: 90% !important;

}

.Msg{
  
    height: 15vh !important;
    resize: none !important; 
}

.bg {
    background: url('./imagens/bg3.gif') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: 0;
  }


  .imagem {
    display: block;
    width: 100%;
    height: auto;
  }

  .imagemDemo {
    margin-top: 10%;
    width: 100%;
    height: auto;
  }

  .ajusteBT{
    width: 100%;
  }
  
  .w3container:hover .overlay {
    width: 100%;
  }

  .overlay {
    position: absolute;
    background-color: yellowgreen;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: .7s ease;
  }

  .descricao {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    white-space: nowrap;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .w3container {
    position: relative;
  }

  .boxProdutos{
    width: 40% !important;
  }

.fixo {
  width: 980px;
  overflow: hidden;
  border-radius: 15px;
  
}
.rolavel {
  height: 500px;
  width: 1000px;
  border-radius: 15px;
  overflow-y: scroll;

}

.fixoCadastro {
  width: 983.4px;
  overflow: hidden;
}

.rolavelCadastro {
  height: 500px;
  width: 1000px;
  overflow-y: scroll;
}

.menuProdutos{
border-radius: 15px;
}

.menuProdutosHover :hover{
cursor: url('./cursor/cursor2.cur'), auto !important;
border-radius: 15px;
}

.corFundo{
  background-color: #D3D3D3;
}

ul{
  padding: 0;
}

.zerandoHr{
  margin: 5px;
}

.curNav{
  cursor: url('./cursor/cursor2.cur'), auto !important;
}

.tamanhoLabel{
  width: 10vw !important;
}

.login-legend{
  margin: 20px;
  width: 320px;
}

.my-fieldset{
  border: 3px solid;
}

.tamanhoFonte{
  font-size: 15px;
  width: 75% !important;
}